<section class="bg-main-light shadow p-2 m-5 rounded-4 p-3">
  <h1 class="h2 text-main mb-3 mt-3">Register Now:</h1>
  <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="my-2">
      <label class="pb-1 text-light fs-3" for="name">Name</label>
      <input
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Name"
        type="text"
      />
      @if
      (registerForm.get('name')?.errors&&(registerForm.get('name')?.touched||registerForm.get('name')?.dirty))
      { @if (registerForm.get('name')?.getError('required')) {
      <p class="alert bg-main mt-2 text-light m-0 w-50">Name is required</p>
      } @else if (registerForm.get('name')?.getError('minlength')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50">
        Name must be at least 3 letters
      </p>
      } @else if (registerForm.get('name')?.getError('maxlength')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50">
        Name must be maximum 20 letters
      </p>
      } }
    </div>

    <div class="my-2">
      <label class="pb-1 text-light fs-3" for="email">E-mail</label>
      <input
        id="email"
        class="form-control"
        formControlName="email"
        placeholder="E-mail"
        type="email"
      />
      @if
      (registerForm.get('email')?.errors&&(registerForm.get('email')?.touched||registerForm.get('email')?.dirty))
      { @if (registerForm.get('email')?.getError('required')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50 mt-1">
        Email is required
      </p>

      } @else if (registerForm.get('email')?.getError('email')) { } @else if
      (registerForm.get('email')?.getError('pattern')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50">
        Enter a valid Email
      </p>
      } }
    </div>
    <div class="my-2">
      <label class="pb-1 text-light fs-3" for="phone">Phone</label>
      <input
        id="phone"
        class="form-control"
        formControlName="phone"
        placeholder="Phone"
        type="phone"
      />
      @if
      (registerForm.get('phone')?.errors&&(registerForm.get('phone')?.touched||registerForm.get('phone')?.dirty))
      { @if (registerForm.get('phone')?.getError('required')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50 mt-1">
        Phone is required
      </p>
      } @else if (registerForm.get('phone')?.getError('pattern')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50">
        Enter a valid phone
      </p>
      } }
    </div>
    <div class="my-2">
      <label class="pb-1 text-light fs-3" for="password">Password</label>
      <input
        id="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        type="password"
      />
      @if
      (registerForm.get('password')?.errors&&(registerForm.get('password')?.touched||registerForm.get('password')?.dirty))
      { @if (registerForm.get('password')?.getError('required')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50 mt-1">
        password is required
      </p>
      } @else if (registerForm.get('password')?.getError('pattern')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50">
        Enter a valid password:
        <span
          ><ul>
            <li>Minimum of 6 characters</li>
            <li>Must contain at least one uppercase letter</li>
            <li>Must contain at least one lowercase letter</li>
            <li>Must contain at least one special character:"!&#64;#$%^&*"</li>
          </ul></span
        >
      </p>
      } }
    </div>
    <div class="my-2">
      <label class="pb-1 text-light fs-3" for="rePassword">RePassword</label
      ><input
        id="rePassword"
        class="form-control"
        formControlName="rePassword"
        placeholder="RePassword"
        type="password"
      />
      @if
      ((registerForm.get('rePassword')?.touched||registerForm.get('rePassword')?.dirty))
      { @if (registerForm.get('rePassword')?.getError('required')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50">
        rePassword is required
      </p>
      } @else if (registerForm.getError('mismatch')) {
      <p class="alert alert bg-main text-light mt-2 m-0 w-50">
        Repassword dismatched with password
      </p>
      } }
    </div>
    <button
      type="submit"
      [disabled]="registerForm.invalid || isLoading"
      class="btn-main mt-4 mb-2 d-block ms-auto me-lg-4"
    >
      Register @if(isLoading){<span><i class="fas fa-spin fa-spinner"></i></span
      >}
    </button>
    <div
      class="d-flex d-flex flex-row justify-content-center align-items-center"
    >
      @if(msgError&&!msgSuccess){
      <p class="alert bg-main text-light mt-2 m-0 w-50 text-center">
        {{ msgError }}
      </p>
      } @if(msgSuccess){
      <p class="alert bg-success text-light mt-2 m-0 w-50 text-center">
        {{ msgSuccess }}
      </p>
      }
    </div>
    <div
      class="d-flex d-flex flex-row justify-content-center align-items-center"
    >
      @if(msgError&&!msgSuccess){
      <p class="alert bg-main text-light mt-2 m-0 w-50 text-center">
        {{ msgError }}
      </p>
      } @if(msgSuccess){
      <p class="alert bg-success text-light mt-2 m-0 w-50 text-center">
        {{ msgSuccess }}
      </p>
      }
    </div>
  </form>
</section>
