
<footer class=" bg-main-light p-3">
    <div class="container">
        <h2 class="m-0 h4">Get The FreshCart App</h2>
        <p class="text-muted small">We Will Send You a link, Open it on Your Phone to download the App</p>
        
          <div class="row">
            <div class="col-lg-9 col-12"><input type="text" class="form-control" placeholder="Email"/></div>
            <div class="col-lg-3 mt-lg-0 col-12 mt-2"><button class="btn-main text-nowrap">Share App Link</button></div>
          </div>
            
            
            
        
        <div class="row d-flex flex-wrap  justify-content-center align-items-center ">
          <div class="col-lg-4 col-12 text-main fs-1"><i class="fab me-3 fa-cc-mastercard"></i>
            <i class="fab me-3 fa-cc-visa"></i>
            <i class="fab me-3 fa-cc-amex"></i>
            <i class="fab me-3 fa-paypal"></i>
            <i class="fab me-3 fa-amazon-pay"></i></div>
            <div class="col-lg-4 col-12 text-main "><h3 class="h3 m-0">Get deliveries with DOKAN</h3></div>
              <div class="col-lg-4 col-12 text-main m-0">
                <img
                src="../../../assets/img/png-transparent-google-play-android-app-store-apple-android-text-rectangle-logo-thumbnail.png"
                alt=""
                width="40%"
              />
              <img
                src="../../../assets/img/png-transparent-eco-surv-app-store-apple-itunes-store-thumbnail.png"
                alt=""
                width="40%"
              /></div>
        </div>   
    </div>
  
</footer>
