<section class="container-fluid margin-top-130">
  <h1 class="mt-5 text-main">{{ productDetails.title }} Details</h1>
  <div class="row m-5">
    <div class="col-md-3">
      <div>
        <owl-carousel-o [options]="detailsOptions">
          <ng-container *ngFor="let slide of productDetails.images">
            <ng-template carouselSlide [id]="slide">
              <img
                [src]="slide"
                [alt]=""
                height="300px"
                [title]=""
              />
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
    <div class="col-md-9 d-flex flex-column justify-content-center">
      <h2 class="text-main">
        {{ productDetails.brand.name }} {{ productDetails.title }}
      </h2>
      <p class="text-muted">{{ productDetails.description }}</p>
      <h3 class="h6">{{ productDetails.category.name }}</h3>
      <div class="d-flex justify-content-between">
        <p>{{ productDetails.price }} EGP</p>

        <div class="rating-stars">
          @for(star of generateStars(productDetails.ratingsAverage); track
          $index){ @if(star === 'full'){
          <i class="fas fa-star rating-color"></i>
          <!-- } @if(star === 'empty'){
            <i class="far fa-star "></i> -->
          } @if(star === 'partial'){
          <div
            [ngStyle]="{
              '--my-width': getFractionFill(productDetails.ratingsAverage) + '%'
            }"
            class="star-container position-relative d-inline-block"
          >
            <div class="partial-30 position-absolute"></div>
            <i class="far fa-star full-star overflow-hidden"></i>
          </div>
          }}
          <span class="text-muted">{{ productDetails.ratingsAverage }}</span>
        </div>
      </div>
      <div class="fly d-flex w-100 justify-content-center pb-2 ">
        <button (click)=" addToWish(productDetails.id)" class="rounded-circle me-1">
          <i class="fas fa-heart fs-2 mt-2"></i>
        </button>
        <button (click)="addToCart(productDetails.id)" class="btn btn-main text-nowrap me-1 pt-1 w-75">Add2Cart</button>
      </div>
    </div>
  </div>
</section>
