<nav class="navbar navbar-expand-lg bg-danger-subtle">
    <div class="container">
      <div class="container-fluid d-flex">
        <a
          class="navbar-brand"
          routerLink="login"
          ><img src="../../../assets/img/logo.png" width="100px" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-instagram text-main text-main"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-facebook text-main"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-tiktok text-main"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-twitter text-main"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-linkedin text-main"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-youtube text-main"></i></a>
            </li>
            <li   class="nav-item">
              <a class="nav-link" routerLink="login" routerLinkActive="active-link">LogIn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="register" routerLinkActive="active-link">Register</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>